.App {
    background-image: url("../src/images/app_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*  "rgb(115, 48, 29)" this is the red color of the book just in case she wants it. */
}
.navbar {
    background-color: rgb(40,43,130);
}
.second-background {
    background-image: url("../src/images/homepage_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
   
}
/* .navbar-icons {
    dancingscript-regular,'dancing script',cursive
} */
.navbar-links {
    display: flex;
    justify-content: flex-start;
}
.navbar-brand {
    margin-left: -22.4px;
    padding: 10px 16px 5px 16px;
    text-align: center;
}