.App {
    background-image: url("../src/images/app_background.png");
    /*  "rgb(115, 48, 29)" this is the red color of the book just in case she wants it. */
}
.navbar {
    background-color: rgb(40,43,130);
}
.homepage {
    background-image: url("../src/images/homepage_background.png");
    background-size: cover;
    background-repeat: no-repeat;
   
}
/* .navbar-icons {
    
} */
.navbar-links {
    display: flex;
    justify-content: flex-start;
}
.navbar-brand {
    margin-left: -14.5px;
    padding-right: 16px;
    text-align: center;
}